/* blog-iiner */
.blog-inner-sec {
  padding-top: 100px;
}
.inner-banner {
  text-align: center;
}
.inner-banner img {
  width: 100%;
}
#comment-form button {
  background-color: #149a49 !important;
  color: #fff;
  min-height: 40px;
  font-size: 16px;
}
.blog-inner-sec .col-lg-9 {
  border-right: 1px solid #9b9b9a;
}
.blog-title {
  padding-top: 30px;
}
.blog-title h4 {
  font-size: 30px;
  color: #606060;
  font-weight: 600;
}
.blog-date {
  padding-top: 10px;
  font-size: 17px;
  color: rgba(96, 96, 96, 0.68);
}
.blog-date img {
  padding-right: 5px;
}
.about-blog {
  padding-top: 20px;
}
.about-blog strong {
  font-weight: 600;
}
.about-blog p {
  font-size: 17px;
  text-align: justify;
}
.about-blog ol li,
.about-blog ol li h5 {
  font-size: 17px;
}
.about-blog h3,
.about-blog h2 {
  font-size: 24px;
  color: #606060;
  font-weight: 600;
}
.about-blog li h3 {
  font-size: 20px;
  color: #606060;
  font-weight: 600;
}
.about-blog a span {
  word-break: break-all;
}
.comment-box {
  padding-top: 20px;
}
#comment-form {
  display: none;
}
#add-comment {
  background: transparent;
  color: #149a49;
  font-size: 20px;
  font-weight: 600;
  border: none;
  margin-bottom: 20px;
}
#comment-form p {
  font-size: 17px;
  font-weight: 600;
}
.about-blog li a {
  word-break: break-word;
}
/* blog-iiner-end */

.seed-to-kitchen-sec {
  padding: 60px 0px;
}

.heading-new-green {
  color: #149a49;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 20px;
}

.farmer-care-sec {
  padding: 60px 0px;
  background: #e7f6f3;
  margin-bottom: 20px;
}
.unique-practices-sec {
  /* padding: 30px 0px; */
  position: relative;
  background: #70bf4a;
}
.unique-practices-sec .content {
  padding: 30px 0px;
  color: #fff;
}
.unique-practices-sec .content h3 {
  color: #fff;
}
.unique-practices-sec .img-bnr {
  padding: 20px 0px;
}

/* product categories */
.products-categories-sec {
  background: #f3f7f8;
  padding: 40px 0px;
}
.categories-crd {
  background: #fff;
  width: 90%;
  margin: 0px auto 10px;
  /* padding: 0px 0px 20px; */
  border-radius: 10px;
  box-shadow: 0 7px 10px 5px #8f8f8f33;
  transition: all 0.5s ease;
}
.categories-crd:hover {
  transform: scale(0.9);
  background: #149a49;
}
.categories-crd:hover.categories-crd h3 {
  color: #fff;
}
.categories-crd img {
  border-radius: 10px 10px 0px 0px;
}
.categories-crd h3 {
  color: #149a49;
  font-size: 22px;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.essentials-crd{
    background: #fff;
    width: 90%;
    margin: 0px auto 10px;
    /* padding: 0px 0px 20px; */
    border-radius: 10px;
    box-shadow: 0 7px 10px 5px #8f8f8f33;
    transition: all 0.5s ease;
}
.essentials-crd:hover{
    transform: scale(1.08);
    /* background:#149A49 ; */
}
.essentials-crd:hover.essentials-crd h3{
    color: #fff;
}
.essentials-crd img{
    border-radius: 10px 10px 0px 0px;
    height: 200px;
}
.essentials-crd h3{
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    margin: 0;
    padding: 10px 0px;
    background: #149A49;
    border-radius: 0 0 10px 10px;
}